<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">用户信息</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<head th:fragment="headAddCss(title,cssPaths)">
    <meta charset="UTF-8">
    <title th:replace="${title}">用户信息</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <!--begin::页面样式 -->
    <link rel="stylesheet" type="text/css" th:each="cssPath,status:${#strings.setSplit(cssPaths,',')}" th:href="@{${cssPath}}" />
    <!--end::页面样式 -->
    <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<body>
<!--头部导航部分-->
<div th:fragment="topmenu" class="header">
    <div class="layui-col-md10">
        <span id="header-font">贫困生资助系统</span>
    </div>
    <ul class="layui-nav layui-col-md2">
        <li class="layui-nav-item" style="float: right">
            <a href="javascript:;"><img src="../static/img/user.png" th:src="@{/img/user.png}" class="layui-nav-img">[[${session.user.userName}]]</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" th:href="@{/userInfo}">修改信息</a></dd>
                <dd><a href="javascript:;" th:href="@{/loginOut}">退了</a></dd>
            </dl>
        </li>
    </ul>
</div>
<!--主要内容部分-->

    <!--左侧导航-->
    <ul th:fragment="leftmenu(n)" class="layui-nav layui-nav-tree  layui-col-md2" lay-filter="demo" style="height: 662px">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon">&#xe770;</i> 个人中心</a>
            <dl class="layui-nav-child">
                <dd th:classappend="${n==1} ? 'layui-this'"><a href="javascript:;" th:href="@{/myApply}">我的申请</a></dd>
                <dd th:classappend="${n==2} ? 'layui-this'"><a href="javascript:;" th:href="@{/userInfo}">用户信息</a></dd>
                <dd th:classappend="${n==3} ? 'layui-this'"><a href="studentInfo.html"  th:href="@{/studentInfo}">学生信息</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" th:classappend="${n==4} ? 'layui-nav-itemed'">
            <a href="javascript:;"><i class="layui-icon">&#xe6b2;</i> 经济困难认定</a>
            <dl class="layui-nav-child">
                <dd th:classappend="${n==4} ? 'layui-this'"><a href="javascript:;"  th:href="@{/hardApply}">经济困难认定申请</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" th:classappend="${n==5} ? 'layui-nav-itemed'">
            <a href="javascript:;"><i class="layui-icon">&#xe857;</i> 资助管理</a>
            <dl class="layui-nav-child">
                <dd th:classappend="${n==5} ? 'layui-this'"><a href="javascript:;"  th:href="@{/supportApply}">申请资助</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" th:classappend="${n==6} ? 'layui-nav-itemed'">
            <a href="javascript:;"><i class="layui-icon">&#xe631;</i> 系统管理</a>
            <dl class="layui-nav-child">
                <dd th:classappend="${n==6} ? 'layui-this'"><a href="javascript:;" th:href="@{/changePassword}">修改密码</a></dd>
            </dl>
        </li>
    </ul>
</body>
</html>